<!DOCTYPE html>
<html>
	<head>
		<title>Budget</title>
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
	</head>
	<body>
		<h3>Budget Status:</h3>
		<table id="categories">
			<tr>
				<th>Month</th>
				<th>Category</th>
				<th>Limit</th>
				<th>Purchases</th>
				<th>Spent</th>
				<th>Remaining</th>
			</tr>
		</table>
		<h3>Uncategorized Purchases:</h3>
		<table id="uncategorized">
			<tr>
				<th>Purchases</th>
				<th>Spent</th>
			</tr>
		</table>
		<h3> Add new category: </h3>
		<form name="theForm">
			Category Name:<input type="text" id="newcatname" required/>
			</br>
			Limit:<input type="text" id="newcatlimit" required/>
			</br>
			<input type="button" id="addcat" value="Add" />
		</form>
		<h3>Add new purchase: </h3>
		<form name="newPurchase">
			What was purchased?:<input type="text" id="newbought" required/>
			</br>
			How much was it?:<input type="text" id="newamount" required/>
			</br>
			When was it purchase?:<input type="date" id="newdate" required/>
			</br>
			What category was it in?:<input type="text" id="newcat"/>
			</br>
			<input type="button" id="addpurch" value="Add"/>
	</body>
</html>

